.ham {
  display: none;
  position: relative;
  background-color: orange;
  width: 2.5rem !important;
  height: 2.5rem !important;
  margin: 0;
  padding: 10px 15px 0 0;
  border-radius: 50%;
  left: 25rem;
  top: 2rem;
}
.MuiButton-label {
  position: relative;
  left: -12px;
  top: -5.5px;
}
.BARS {
  font-size: 20px;
  color: rgb(220, 220, 220) !important;
}
#ham-menu {
  display: none;
  background-color: orange !important;
  height: 100%;
}
.menu-drawer {
  display: grid;
  place-items: center;
}

.menu-drawer .img-border {
  margin-top: 2rem !important;
  background-color: #fff;
}
.drawer-items ul li {
  list-style-type: none !important;
  font-size: 17px;
  margin-top: 0.85rem;
}
.drawer-items ul li a {
  text-decoration: none !important;
  color: black;
  font-weight: 900;
}
.drawer-items ul li a:hover {
  color: white;
}
.drawer-links {
  margin-left: 2rem !important;
}
.drawer-links a {
  margin-right: 0.85rem;
}
.drawer-links .profile-links {
  color: black !important;
}

/* RESPONSIVE */
@media only screen and (max-width: 426px) {
  .ham {
    display: block;
    position: sticky;
    z-index: 1;
  }
  #ham-menu {
    display: block;
  }
}
