/* Profile */

.profile {
  padding: 50px 30px 45px;
  color: white;
  display: grid;
  place-items: center;
  background-color: #444444;
  border-radius: 30px 0 0 30px;
  width: 500px;
}

.dp {
  width: 150px;
}

.img-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 158px;
  width: 158px;
  /* background: rgb(230, 230, 230); */
  background: orange;
  border-radius: 50% !important;
}
.img-border:hover {
  background: orange;
}

.profile-links {
  font-size: 19px;
  margin-right: 1.35rem;
  color: rgb(220, 220, 220) !important;
}

.profile-links:hover {
  color: orange !important;
}

.download-btn {
  border-radius: 30px !important;
  padding: 11px 33.5px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  border: 2px solid orange !important;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  text-decoration: none !important;
  color: white;
  font-weight: 500 !important;
}

.download-btn:hover {
  background-color: white;
  color: orange !important;
  font-weight: 600 !important;
}

.made-by {
  color: white;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: 55px;
  letter-spacing: 0.2px;
}
