.resume {
  padding: 60px 60px 45px;
  color: #d5d5d5;
}
.resume .title {
  color: #eeeeee;
  font-size: 32px;
  font-weight: 600;
}
/* EDUCATION */
.divider {
  border-left: 0.5px solid orange;
  height: 9.75rem;
}
.divider::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 7.5px;
  background-color: orange;
  position: relative;
  left: -7px;
}

.edu-title,
.exp-title {
  font-size: 13px;
  color: #aaa;
}
.left-of-line {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.edu-text,
.exp-text {
  font-size: 15.5px;
}

/* SKILLS */
.progress {
  margin-bottom: 0.8rem;
  height: 8.75px !important;
}
.progress-title {
  font-size: 14px;
  padding: 0 1px;
  margin-bottom: 6px;
  color: whitesmoke;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
