.resume {
  padding: 60px 60px 45px;
  color: #d5d5d5;
}
.resume .title {
  color: #eeeeee;
  font-size: 32px;
  font-weight: 600;
}
/* EDUCATION */
.divider {
  border-left: 0.5px solid orange;
  height: 9.75rem;
}
.bottom-divider {
  height: 8.35rem !important;
}
.divider-col {
  padding-left: 1.25rem !important;
}
.divider::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 7.5px;
  background-color: orange;
  position: relative;
  left: -7px;
}

.edu-title,
.exp-title {
  font-size: 13px;
  color: #aaa;
}
.left-of-line {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.edu-text,
.exp-text {
  font-size: 15.5px;
}

/* SKILLS */
.skills {
  padding-left: 48px;
}
.progress {
  margin-bottom: 0.8rem;
  background-color: #eee !important;
  height: 8.75px !important;
}
.progress-title {
  font-size: 14px;
  padding: 0 1px;
  margin-bottom: 6px;
  color: whitesmoke;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

/* OTHERS */
.others {
  display: flex;
  flex-wrap: wrap;
  /* padding: 10px; */
}
.others-card {
  margin: 0.25rem;
  /* background-color: orange; */
  background-color: #333;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  font-weight: 500;
  font-size: 15px;
  width: fit-content;
  padding: 4.25px 8px;
  border-radius: 6px 10px;
  border: 1px dashed orange;
}

/* CERTIFICATE */
.certificate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.certificate-card,
.certificate-card:hover {
  text-decoration: none !important;
  color: whitesmoke;
  margin: 0rem 1rem 1rem 0rem;
  background-color: #333;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  padding: 1rem 1.5rem;
  border-radius: 8px;
}
.certificate-card > p {
  margin-bottom: 7px;
}
.issue-date {
  font-size: 15.75px;
  color: darkgray;
}
.cred-id {
  font-size: 13px;
  color: gray;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .others-card {
    margin: 0.27rem;
  }
}
@media only screen and (max-width: 768px) {
  .resume {
    padding: 60px 35px 60px 45px;
  }
  .date {
    font-size: 15px !important;
  }
  .exp-text {
    font-size: 14px !important;
  }
  .divider::before {
    height: 10px;
    width: 10px;
    left: -5.5px;
    bottom: 1.5px;
  }
  .divider-col {
    padding-left: 1rem !important;
  }
  .bottom-divider {
    height: 8.65rem !important;
  }
  .skills {
    padding-left: 30px;
  }
  .others-card {
    font-size: 14px !important;
    margin: 0.2rem;
    padding: 3.85px 6.75px;
  }
  .certificate {
    justify-content: flex-start;
  }
  .certificate-card {
    padding: 0.75rem 1rem;
    width: 305px !important;
  }
  .issue-date {
    font-size: 14.75px;
  }
}

@media only screen and (max-width: 426px) {
  .resume {
    padding: 60px 30px 60px 40px;
  }
  .skills {
    padding-left: 0;
  }
  .resume .what-i-do-title {
    font-size: 16px !important;
  }
  .resume .date {
    font-size: 14px !important;
  }
  .certificate-card {
    width: 100% !important;
    margin-right: 0;
  }
}
@media only screen and (max-width: 376px) {
  .resume {
    padding: 60px 30px 60px 35px;
  }
  .resume .date {
    font-size: 13.65px !important;
  }
  .resume .exp-title,
  .resume .edu-title {
    font-size: 12.5px !important;
  }
  .divider-col {
    padding-left: 0.8rem !important;
  }
  .divider {
    height: 10.775rem;
  }
  .bottom-divider {
    height: 9.75rem !important;
  }
  .exp-text,
  .edu-text {
    font-size: 13.5px !important;
  }
}
@media only screen and (max-width: 326px) {
  .resume {
    padding: 60px 25px 60px 30px;
  }
  .left-of-line {
    align-items: flex-start;
  }
  .divider {
    height: 11.75rem;
  }
  .bottom-divider {
    height: 11rem !important;
  }
  .education .divider-col {
    padding-left: 0.37rem !important;
  }
  .experience .divider-col {
    padding-left: 0.55rem !important;
  }
  .left-of-line-col {
    padding-left: 0 !important;
  }
  .divider::before {
    height: 9px;
    width: 9px;
    left: -5.5px;
    bottom: 1.5px;
  }
}
