.contact {
  padding: 60px 60px 45px;
  color: white;
}
.contact .title {
  color: white;
  font-size: 32px;
  font-weight: 600;
}
.contact-title {
  font-size: 15px;
  font-weight: 600;
}
.inputs {
  display: flex;
}
input {
  padding: 8.5px 12.5px;
  border-radius: 8px;
  border: 1.25px solid orange;
  background-color: #222;
  color: white;
  width: 48.25%;
}
input[type="email"] {
  margin: 1.35rem 0;
  width: 100%;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c0c0c0;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c0c0c0;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c0c0c0;
}
textarea {
  border-radius: 7px;
  padding: 12px;
  border: 1.25px solid orange;
  background-color: #222;
  color: white;
  resize: none !important;
  width: 100%;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .contact {
    margin-bottom: 2.25rem;
  }
}
@media only screen and (max-width: 768px) {
  .contact {
    padding: 60px 35px 60px 45px;
    margin-bottom: 2rem;
  }
  .contact-title {
    font-size: 13.5px;
  }
  input[type="email"] {
    margin: 0.85rem 0;
  }
  .send {
    font-size: 13px !important;
  }
  ::placeholder {
    font-size: 14.5px !important;
  }
  :-ms-input-placeholder {
    font-size: 14.5px !important;
  }
  ::-ms-input-placeholder {
    font-size: 14.5px !important;
  }
}

@media only screen and (max-width: 426px) {
  .contact {
    padding: 60px 30px 60px 40px;
    margin-bottom: 0;
  }
  .contact-title {
    font-size: 16px !important;
  }
  .contact-form .what-i-do {
    margin: 2rem 0 1.5rem;
  }
  .inputs {
    display: block;
  }
  .inputs input {
    width: 100% !important;
    margin-bottom: 0.85rem;
  }
  input[type="email"] {
    margin: 0 0 0.85rem 0;
  }
  ::placeholder {
    font-size: 14px !important;
  }
  :-ms-input-placeholder {
    font-size: 14px !important;
  }
  ::-ms-input-placeholder {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 326px) {
  .contact-title {
    font-size: 14.5px !important;
  }
}
