.contact {
  padding: 60px 60px 45px;
  color: white;
}
.contact .title {
  color: white;
  font-size: 32px;
  font-weight: 600;
}
input {
  padding: 8.5px 12.5px;
  border-radius: 8px;
  border: 1.25px solid orange;
  background-color: #222;
  color: white;
}
input[type="email"] {
  width: 27rem;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C0C0C0;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #C0C0C0;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #C0C0C0;
}
textarea {
  border-radius: 7px;
  padding: 12px;
  border: 1.25px solid orange;
  background-color: #222;
  color: white;
  resize: none !important;
}
