.about {
  padding: 60px 60px 45px;
  color: #d5d5d5;
}

/* ABOUT MYSELF */
.about .title {
  color: #eeeeee;
  font-size: 32px;
  font-weight: 600;
}
.title span {
  color: orange;
}
.abt-details span {
  color: orange;
  margin-right: 0.5rem;
}
.abt-details > ul li {
  list-style-type: none !important;
  margin-bottom: 0.85rem;
  letter-spacing: 0.15px;
}

/* WHAT I DO */
.what-i-do {
  color: #f5f5f5;
  font-size: 21px;
  font-weight: 600;
}
.what-i-do > span {
  color: orange;
}
.abt-icons {
  font-size: 32px;
  margin-bottom: 0.65rem;
  color: orange;
}
.what-i-do-title {
  font-size: 17.5px;
  font-weight: 900;
  color: white;
}
.ryt-col {
  padding-left: 40px !important;
}

/* FUN FACTS */
.fact {
  background-color: #333;
  padding: 1.5rem 0 0.75rem;
  border-radius: 10px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
  .abt-details ul li {
    margin-bottom: 0.75rem;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    padding: 60px 45px;
  }
  .title {
    font-size: 26px !important;
  }
  .intro {
    font-size: 15px !important;
  }
  .abt-details {
    font-size: 15px !important;
  }
  .abt-details ul li {
    margin-bottom: 0.85rem;
  }
  .col-md-5 {
    padding-left: 0px !important;
  }
  .what-i-do-title {
    font-size: 16.35px !important;
  }
  .what-i-do-text {
    font-size: 15px !important;
  }
  .ryt-col {
    padding-left: 30px !important;
  }
  .abt-icons {
    font-size: 26px !important;
  }
}
